@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500;600;700&family=Potta+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 900 !important;

}

ol, ul, li {
    list-style: none;
}

a, a:hover, a:focus {
    text-decoration: none;
    outline: none;
}

h1, h2, h3, h5, h6, p {
    margin-bottom: 0;
}

body {
    overflow-x: hidden;
    position: relative;
    width: 100%;
    max-height: 100vh;
    background: url(../images/elephant-1822636_1920.jpg) no-repeat center;
    background-size: cover;
}

.widthAuto {
    width: auto !important;
}

.displayInlineBlock {
    display: inline-block;
}

.displayBlock {
    display: block;
}
.errorMessageInput {
    border: 2px solid red !important;
}

form label {
    display: block;
    margin: 10px;
    color: white;
    font-family: 'Fira Code', monospace;
    font-size: 16px;

}

form input {
    width: 60%;
    outline: none;
    margin: 10px;
    padding: 5px 10px;
    font-family: 'Fira Code', monospace;
    font-size: 16px;
    border: 2px solid #444444;
    border-radius: 5px;

}



form button {
    display: block !important;
    margin: 10px;
    font-size: 16px;
    font-family: 'Fira Code', monospace;


}

.formContent {
    margin-top: 20px;
    height: 100vh;
}

.formTitle {
    text-align: center;
    margin-top: 10px;
    font-family: 'Potta One', cursive;
    letter-spacing: 5px;

}

.selectGender {
    margin: 10px;
    color: white;
    font-size: 16px;
    font-family: 'Fira Code', monospace;
}
